h2[class="color-title"]{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: rgb(174, 174, 10);
}

img{
    height: 200px;
    width: 200px;
}