html{
    background-color: black;

}

div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: Libre Baskerville;
    color : white;

}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}